
services:
  app:
    image: javagram-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/target
    environment:
      SPRING_PROFILES_ACTIVE: dev