
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - .:/app
      - /app/target
    depends_on:
      - redis

  redis:
    image: redis:8.4-alpine
    ports:
      - "6379:6379"