spring:
  application:
    name: Javagram

  datasource:
    url: jdbc:postgresql://db:5432/javagram
    username: chat_user
    password: javagram_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: "classpath:db/migration"
